<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/favicon.png">

    <title>&#9834; Mr.Music &#9834;</title>

    <!-- First so it has lowest priority-->
    <link href="../../static/buttons.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="icon-bar"><img src="../static/images/logo.png" alt="logo" border="0" width="31.5"
                                height="54" hspace="10"></span>
    <a class="navbar-brand" href="#">Mr. Music</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/game_selection">Game Selection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/highscores">HighScores</a>
            </li>
            {% if bonus %}
            <li class="nav-item"><a class="nav-link" href="/bonus">Bonus</a></li>
            {% endif %}
        </ul>
        <div class="nav-link"><kbd>Hello {{nickname}}!</kbd></div>
        <div class="nav-link"><kbd>Score: {{score}}</kbd></div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-info">
    <div class="container">
        <br><br>
        <img src="../../static/images/game_selection_title.png" alt="Select a game, and let's start!"/>
        <br><br>
        <div class="container">
            <a href="/rank_by_country_game" class="social-container twitter">
                <div class="social-cube">
                    <div class="front">
                        Ranking By Country
                    </div>
                    <div class="bottom">
                        Let's Play!
                    </div>
                </div>
            </a>

            <a href="/duets_game" class="social-container facebook">
                <div class="social-cube">
                    <div class="front">
                        Who Sang With Who
                    </div>
                    <div class="bottom">
                        Let's Play!
                    </div>
                </div>
            </a>

            <a href="/pairs_game" class="social-container youtube">
                <div class="social-cube">
                    <div class="front">
                        Pairs Matching
                    </div>
                    <div class="bottom">
                        Let's Play!
                    </div>
                </div>
            </a>

            <a href="/word_in_songs" class="social-container github">
                <div class="social-cube">
                    <div class="front">
                        Word In Common
                    </div>
                    <div class="bottom">
                        Let's Play!
                    </div>
                </div>
            </a>

            <a href="/translate_game" class="social-container dribbble">
                <div class="social-cube">
                    <div class="front">
                        Translations
                    </div>
                    <div class="bottom">
                        Let's Play!
                    </div>
                </div>
            </a>

            <a href="/release_order_game" class="social-container codepen">
                <div class="social-cube">
                    <div class="front">
                        Release Order
                    </div>
                    <div class="bottom">
                        Let's Play!
                    </div>
                </div>
            </a>

        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; DataBlasters 2018</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
