<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.png">
    <title>HighScores Table</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="icon-bar"><img src="https://image.ibb.co/n68GS6/logo.png" alt="logo" border="0" width="31.5"
                                height="54" hspace="10"></span>
    <a class="navbar-brand" href="#">Mr. Music</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Game Selection</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">HighScores</a>
            </li>
        </ul>
        <div><kbd>My Score: {{current_score}}</kbd></div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4" align="right">
            <h1><p>
                <p>Top Players</h1>
        </div>
        <div class="col-md-4" align="right">
            <img src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Trophy-and-Medals-PNG/Golden_Cup_Trophy_PNG_Clipart.png?m=1434276589"
                 height="250"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1&nbsp;&nbsp;&nbsp;<img src="https://statics.sportskeeda.com/skm/assets/olympics/gold.svg"
                                            width="30"/></td>
                <td>{{user_1}}</td>
                <td>{{score_user_1}}</td>
            </tr>
            <tr>
                <td>2&nbsp;&nbsp;&nbsp;<img src="https://statics.sportskeeda.com/skm/assets/olympics/silver.svg"
                                            width="30"/></td>
                <td>{{user_2}}</td>
                <td>{{score_user_2}}</td>
            </tr>
            <tr>
                <td>3&nbsp;&nbsp;&nbsp;<img src="https://statics.sportskeeda.com/skm/assets/olympics/bronze.svg"
                                            width="30"/></td>
                <td>{{user_3}}</td>
                <td>{{score_user_3}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{{user_4}}</td>
                <td>{{score_user_4}}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>{{user_5}}</td>
                <td>{{score_user_5}}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>{{user_6}}</td>
                <td>{{score_user_6}}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>{{user_7}}</td>
                <td>{{score_user_7}}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>{{user_8}}</td>
                <td>{{score_user_8}}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>{{user_9}}</td>
                <td>{{score_user_9}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>{{user_10}}</td>
                <td>{{score_user_10}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<footer>
    <p>&copy; DataBlasters 2018</p>
</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>