<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&#9834; Mr.Music &#9834;</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
</head>
<body>
<div align="center">
    <h3>You are not authorized to cheat!</h3>

    <img src="https://vignette.wikia.nocookie.net/angrybirds/images/a/aa/Red_EyeRoll.gif/revision/latest?cb=20170224064435"
         alt=""/>

    <br><br><a href="/game_selection">
    <button class="btn btn-secondary" style="cursor:pointer">Back To Game Selection Page</button>
</a>
</div>
</body>
</html>