div#game1 {
    width: 20% !important;
}

div#game2 {
    width: 40% !important;
}

div#game3 {
    width: 60% !important;
}

div#game4 {
    width: 80% !important;
}

div#game5 {
    width: 100% !important;
}

#pointsForAns {
    visibility: hidden;
}

#next {
    visibility: hidden;
    border: 2px solid #292b2c;
}

#translation {
    direction: rtl;
    white-space: pre-line;
}